

.bg-img {
  background-color: rgb(155, 154, 212);
}

h1,
h5 {
  text-align: center;
}

h1 {
    color: rgb(129, 84, 187);
    margin-left: 20px;
    font-size: 30px;
}
h5 {
    color: #7c89c4;
    margin-left: 20px;
    margin-top: -7px;
    font-size: medium;
    margin-bottom: 15px;
    text-transform: capitalize;
}